.jr-hokkaido {
  // Logo & website
  background-color: #45B035;
}

.jr-east {
  // Logo
  background-color: #0a8c0d;
  //  website
  // background-color: #008803;
}

.jr-central {
  // website
  background-color: #f87b22;
}

.jr-west {
  // Logo & website
  background-color: #0065B1;
}

.jr-shikoku {
  // website
  background-color: #33add6;
}

.jr-kyushu {
  // website
  background-color: #db1d2b;
}

.jr-freight {
  background-color: #367193;
}